.button-dark, .button-light:hover {
    cursor: pointer;
}

.button-dark, .button-light {
    font-family: inherit;
    color: var(--color-white);
    font-weight: 600;
    padding: 10px;
    border: none;
    margin: 8px 0 8px 0 ;
    border-radius: 4px;
    display: inline-block;
    min-width: 100px;
    height: auto;
    white-space: nowrap;
    text-align: center;
}

.button-light {
    background-color: var(--color-secondary);
}

.button-dark {
    background-color: var(--color-primary);
}