.nav-container {
    flex-basis: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 1000;
    height: 60px;
}

nav a:hover {
    color: var(--color-primary);
}

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active-menu-link {
    border-bottom: 2px solid var(--color-primary);
}

.default-menu-link {
    border-bottom: 2px solid transparent;
}