.footer{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding-bottom: 15px;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-size: small;
}
