
button:hover {
  cursor: pointer;
}

h1 {
  font-size: 3.4em;
  line-height: 1.1;
  margin-block: 1em;
}

h2 {
  margin-block: 1.4em;
}

h3 {
  margin-block: 1.2em;
}

h4 {
  margin-block: 1.2em;
}

p {
  font-size: 1em;
  margin-block: 0.1em;
}

img {
  width: 100%;
}

a,
a:visited {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: var(--color-secondary);
}

em {
  font-style: italic;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 4px;
  display: inline;
}