
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #416D19;
  --color-primary-light: #C6D3BA;
  --color-secondary: #54E346;
  --color-tertiary: #BFEA7C;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-background-primary: #f7fcf3;
  --color-background-secondary: #DEE2DA;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #fffdf5;

}

input, select, textarea {
  font-family: inherit;
}

/*----------- INNER- EN OUTER CONTAINERS ------------------- */

.outer-content-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-content-container {
  width: 1000px;
  flex-shrink: 1;
  flex-grow: 0;
  align-items: center;
}
