.admin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ***** Table styles ***** */
.table-route-map {
    max-height: 100px;

}

.table-image {
    max-width: 250px;
}

.table-content {
    text-align: left;
}

.table-title {
    margin-bottom: 20px;
}

.table-container {

    overflow-x: auto;
    margin: 20px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.admin-table th,
.admin-table td {
    border: 1px solid lightgray;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-table th {
    background-color: var(--color-background-secondary);
}

.add-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}

/* ***** Form styles ***** */

.admin-form {
    background-color: var(--color-background-primary);
    padding: 20px;
    margin: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 50%;
}

.admin-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.admin-form label {
    margin-bottom: 5px;
}

.admin-form input,
.admin-form select {
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 3px;

}

.admin-form button {
    padding: 10px 15px;
}

.radio-group label {
    margin-bottom: 5px;
    padding-left: 5px;

}

.radio-group input[type="radio"] {
    margin-left: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.form-info {
    flex-basis: 100%;
    text-align: left;
}